<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <title>E-mail Sending App</title>
  </head>
  <body>
    <div class="container">
      <h1><i class="fa-solid fa-envelope-circle-check sent"></i>Email Sent</h1>
      <div class="email-content">
        <h3><span>To <%= Data.name %></span></h3>
        <h3><span>Subject:</span><%= Data.subject %></h3>
        <p>
          <span>Body:</span><%= Data.body %>
        </p>
      </div>
    </div>
  </body>
</html>
